{% extends "base.html.twig" %}
{% block title %}Add Product{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/add.css') }}" />
{% endblock %}

{% block body %}
    <div class="container">
            <section class="hero">
                <h1>Add a New Pizza</h1>
                <p class="subtitle">add Pizza to the menu</p>
            </section>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-message {{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <main>
        <form method="post" id="add-form" action= "{{path('menu_add')}}" enctype="multipart/form-data">
            <label for="name">Pizza Name :</label>
            <input type="text" id="name" name="name" required>

            <label for="description">Description :</label>
            <textarea id="description" name="description" required></textarea>

            <label for="price">Price :</label>
            <input type="number" id="price" name="price" step="0.01" required>

            
            <input type="file" name="image" accept="image/*" id="imageUrl" hidden>
            <label for="imageUrl" class = "upload-btn">Image :</label>

            <button type="submit">Add Pizza</button>
        </form>
    </div>
{% endblock %}